<script src="app/application.js"></script>
<script src="app/controllers/PeopleController.js"></script>
<script src="app/router-map.js"></script>
<script src="app/routes/OtherRoute.js"></script>
<script src="app/routes/PeopleRoute.js"></script>
<script src="app/templates.js"></script>